@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
/* VARS */
/* *, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
 */
 .form-container {
  font-family: 'Source Sans Pro', sans-serif;
}

.form-container {
  margin: 0rem auto;
  max-width: 700px;
}

form {
  margin: 2rem 0;
}
form:after {
  content: '';
  display: table;
  clear: both;
}
form .field {
  display: block;
  border: 1px solid #BDBDBD;
  float: left;
  width: 100%;
}
form .field.tnb {
  border-top: 0;
}
form .field.half {
  width: 50%;
}
form .field.last {
  border-left: 0;
}
form .field label {
  display: block;
  font-size: 1.2rem;
  padding: 1.5rem 2rem 0;
  text-transform: uppercase;
  color: #999;
  font-weight: 700;
  letter-spacing: 1px;
}
form .field input,
form .field textarea {
  display: block;
  width: 100%;
  padding: .5rem 2rem 1.5rem;
  font-size: 1.8rem;
  border: 0;
  color: #212121;
  outline: 0;
}
form .field textarea {
  min-height: 150px;
  resize: vertical;
}
