<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/tweecool.min.js"></script>
<script src="js/jplayer.playlist.min.js"></script>
<script src="js/jquery.jplayer.min.js"></script>
<script src="js/superfish/js/hoverIntent.js"></script>
<script src="js/superfish/js/superfish.js"></script>
<script src="js/menu.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/prettyphoto/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
<script src="js/contact.js"></script>
<script src="js/custom.js"></script>
<script src="js/custom-kaaro.js"></script>
<!-- <script src="js/particle-background.js"></script> -->