<header>
    <div class="container" id="header-container">
        <div class="logo col-md-2 col-xs-4">
            <a href="/"><img src="/images/vidiyo_logo_new.svg" class="img-responsive logo-header" alt="" /></a>
        </div>

        <div class="col-md-10 col-xs-8 header-right">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="topbar pull-right">
                        <span class="tp-social">
                            
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            
                        </span>
                    </div> -->

                    <nav class="menu-wrap">
                        <div id="mobnav-btn"><i class="fa fa-bars"></i></div>
                        <ul class="sf-menu">
                            <li>
                                <a class="page-scroll" href="/index.html#page-top">Home</a>
                            </li>
                            <li>
                                <a href="/browse.html"> Browse </a>
                            </li>
                            <li>
                                <a href="/register-talent.html"> Register as Talent</a>
                            </li>
                            <li>
                                <a href="/register-talent.html"> Sign Up</a>
                            </li>
                            <li>
                                <a href="/register-talent.html"> Login</a>
                            </li>
                           
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>