<!-- Meta -->
<meta charset="utf-8">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="">
<meta name="author" content="">

<title>Vidiyo | Get personalized shoutout</title>

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="/images/vidiyo_logo.svg">

<!-- Google Webfont -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800' rel='stylesheet'
    type='text/css'>

<!-- CSS -->
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/jplayer.pink.flag.css" />
<link rel="stylesheet" href="/css/animate.css" />
<link rel="stylesheet" href="/js/superfish/css/megafish.css" media="screen">
<link rel="stylesheet" href="/js/superfish/css/superfish.css" media="screen">
<link rel="stylesheet" href="/css/icon/style.css" />
<link rel="stylesheet" href="/css/prettyphoto.css">
<link rel="stylesheet" href="/css/style.css" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script.is_module %}
      <script type="module" src="{{ script.path }}"></script>
    {% else %}

    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}