<div class="stars-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="qoute-box">
                    <h3 id="qoute-main" class="qoute-main">

                        <div class="loading">
                            <div class="loading_dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </h3>
                    <h6 id="qoute-by" class="qoute-by"> -

                    </h6>


                </div>
            </div>


        </div>
    </div>
</div>