---
layout: default
addon: star
---
<div id="page-top"></div>

<div class="body">

	<!-- HEADER -->
	{% include header.html %}
	<!-- HEADER -->



	<div class="wrapper">
		<div class="stars-header">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<div class="qoute-box">
							<h3 id="qoute-main" class="qoute-main">

								<div class="loading">
									<div class="loading_dots">
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</h3>
							<h6 id="qoute-by" class="qoute-by"> -

							</h6>


						</div>
					</div>


				</div>
			</div>
		</div>

		<div id="star_wrapper">
			<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="guy-image  col-lg-4 col-sm-4">
							<img src="{{page.image_url}}" class="img-responsive img-star-rep" alt="">
						</div>
						<div class="guy-profile  col-lg-8 col-sm-8">
							<div class="title">
								<h1>{{page.name}}</h1>
								<h3>{{page.excerpt}}</h3>
								<!-- <h3>A N O T H E R <strong>C O D E P E N</strong></h3> -->
							</div>
						</div>
						<div class="guy-details bottom-bar">
							<div class="container">
								<div class="row">
									<div class="left-kaafi col-lg-4 col-sm-4"></div>
									<div class="kaafi-kuch col-lg-8 col-sm-8">
										<div class="call-to-action">
											<!-- <a href="#" class="btn btn-default"> Book {{page.name}} Now</a> -->
											<button class="btn btn-default" data-toggle="modal" data-target="#myModal"> Request
												{{page.name}} Now</button>
										</div>
										<div class="review">
			
											{% assign stars_to_show = 4 | plus: 0 %}
											{% if page.rating %}
											{% assign stars_to_show = page.rating | round | plus: 0 %}
											{% endif %}
			
											{% assign stars_to_hide = 5 | minus: stars_to_show %}
			
											{% for i in (1..stars_to_show) %}
											<span class="fa fa-heart checked"></span>
											{% endfor %}
											{% for i in (1..stars_to_hide) %}
											<span class="fa fa-heart"></span>
											{% endfor %}
											{{stars_to_show}} Stars
			
										</div>
										<div class="reply-time">
											Typically responds in 5 days <span class="fa fa-flash"></span>
										</div>
			
										<!-- <div class="tags">
												<li class="each-tag">Test</li>
												<li class="each-tag">Test</li>
											</div> -->
			
										<div class="content">
											{{content | markdownify}}
										</div>
									</div>
								</div>
							</div>
			
						</div>
					</div>
				</div>
			</div>
			<div class="star-profile-left">
			</div>
			

			<!--  -->
		</div>


		<hr class="custom-hr">

		<div id="team-wrap">
			<div id="comics" class="container">
				<div class="section-head text-center">
					<h2>Similar logg...</h2>
					<h5></h5>
				</div>

				<div class="row">
					{% assign comic_stars = site.stars  %}
					{% for each_comic_star in comic_stars limit:3 %}

					<div class="col-md-4 team-item">
						<div class="team_member_wrap">
							<a href="{{each_comic_star.url}}">
								<div class="team_profile_wrap">
									<div class="team_profile_pic image-cropper-custom">
										<img alt="image" src="{{each_comic_star.image_url}}">
									</div>
									<div class="team_profile_ttl">
										<h3>{{each_comic_star.name}}</h3>
										<h4>{{each_comic_star.excerpt}}</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- FOOTER -->
		{% include footer.html %}
		<!-- FOOTER -->

	</div>
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Book a Vidiyo - from {{page.name}} </h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form name="book_form" method="post" data-netlify="true">
						<div class="hidden">
							<input type="text" name="star" id="star" value="{{page.name}}">
						</div>
						<div class="form-group">
							<label for="to">Vidiyo dedicated to:</label>
							<input type="text" class="form-control" id="to" placeholder="Karan">
						</div>
						<div class="form-group">
							<label for="from">from: </label>
							<input type="text" class="form-control" id="from" placeholder="Arjun">
						</div>
						<div class="form-group">
							<label for="instuctions">What would you like {{page.name}} to say: </label>
							<textarea type="text" rows="2" class="form-control" name="instructions" id="instructions"
								placeholder="Karan and me (Arjun) are brothers and have met after a long seperation. Please record our message for a mother letting her know we are coming home soon."></textarea>
						</div>
						<div class="form-group">
							<label for="d_email">Deliver to: </label>
							<input type="email" class="form-control" name="d_email" id="d_email"
								placeholder="karan@email.com">
						</div>

						<div class="form-group form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox"> Make this public
							</label>
						</div>
						<button type="submit" class="btn btn-primary">Book {{page.firt_name}} Now</button>
					</form>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Javascript -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/tweecool.min.js"></script>
<script src="../js/jplayer.playlist.min.js"></script>
<script src="../js/jquery.jplayer.min.js"></script>
<script src="../js/superfish/js/hoverIntent.js"></script>
<script src="../js/superfish/js/superfish.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/stellar.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/prettyphoto/jquery.prettyPhoto.js"></script>
<script src="../js/main.js"></script>
<script src="../js/contact.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/custom-kaaro.js"></script>
<script src="../js/custom-stars.js"></script>
<script src="../js/custom-qoute.js"></script>