---
layout: default
addon: talent
---

<div id="page-top"></div>

<div class="body">
  <!-- HEADER -->
  {% include header.html %}
  <!-- HEADER -->

  <div class="wrapper">
    {% include random_qoute.html %}
    <div class="scope-bar"></div>
    <!-- <hr class="custom-hr"> -->

    <div id="team-wrap">
      <div id="comics" class="container">
        <div class="section-head text-center">
          <h2>Register as talent</h2>
          <h5></h5>
        </div>

        <div class="row">
          <div class="form-container">
            <form>
              <div class="field half">
                <label for="surname">First name</label>
                <input type="text" id="surname" />
              </div>
              <div class="field half last">
                <label for="name">last name</label>
                <input type="text" id="name" />
              </div>
              <div class="field tnb">
                <label for="email">Email address</label>
                <input type="email" id="email" />
              </div>
              <div class="field tnb">
                <label for="msg">Message</label>
                <textarea name="msg"></textarea>
			  </div>
			  <button class="button large" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    {% include footer.html %}
    <!-- FOOTER -->
  </div>
</div>

<!-- Javascript -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/tweecool.min.js"></script>
<script src="../js/jplayer.playlist.min.js"></script>
<script src="../js/jquery.jplayer.min.js"></script>
<script src="../js/superfish/js/hoverIntent.js"></script>
<script src="../js/superfish/js/superfish.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/stellar.js"></script>
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/prettyphoto/jquery.prettyPhoto.js"></script>
<script src="../js/main.js"></script>
<script src="../js/contact.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/custom-kaaro.js"></script>
<script src="../js/custom-stars.js"></script>
<script src="../js/custom-qoute.js"></script>
