---
layout: default
addon: home
---

<div id="page-top"></div>

<div class="body">

    
    {% include header.html %}
    
   
    <!-- <div id="center-marker"></div> -->
    <!-- INTRO -->
    <div id="intro">
        <div class="container" id="intro-container">
            <div class="header-image-tags">
                <div class="fl-container">
                    <div class="first-level">Get A Personalized Video Shout-out</div>
                    <div class="second-level">From Your Favourite Celebrity</div>
                    <div class="dual-btns" id="download-app">
                        <a href="/browse.html" class="header-btn"><img src="/images/app_store_us.svg" alt="Download on Apple Store" class="app-link-img"></a>
                        <a href="/register-talent.html" class="header-btn"><img src="/images/Google_Play_Store_badge_EN.svg" alt="Download on Android" srcset="" class="app-link-img"></a>
                    </div>
                </div>
            </div>
            <div class="intro-landing-asset">
                <div class="phone-frame">
                    <img src="/assets/illustration.png" alt="">

                </div>
            </div>
        </div>
    </div>
    <!-- INTRO -->

    <div class="wrapper">

        <!-- Steps 1 And 2 -->
        <div id="servicesA" class="services">
            <div class="container">
                <div class="row text-left">
                    <div class="col-md-6">
                        <div class="icon-box" id="icon-box-A">
                            
                            <h3 id="target-right-2"> Select a celebrity</h3>
                            <p>Pick a Celebrity from our ever-growing list and begin. You can do this by searching for
                                them or browsing our alphabetical directory. Don’t worry; if your favourite celebrity is
                                not on our site, you can help! Just tweet at them
                                with the hashtag #Vidiyo or @Vidiyo and let them know you wish for them to join!</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="servicesB" class="services">
            <div class="container">
                <div class="row text-right">
                    <div class="col-md-6 emptyforBackground"></div>
                    <div class="col-md-6" >
                        <div class="icon-box" id="icon-box-B">
                            
                            <h3 id="target-left-3">Request shoutout Vidiyo!</h3>
                            <p>Sit back and wait for your Vidiyo to arrive. Please be calm as celebrities are very busy.
                                Once complete you will receive your custom video in your DM. After that, you can share
                                however you like. Vidiyo make great gifts for
                                all occasions so be creative and enjoy!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="services" class="services">
            <div class="container">
                <div class="row text-left">
                    <div class="col-md-6">
                        <div class="icon-box" id="icon-box-C">
                            
                            <h3 id="target-right-2"> Celebrity Response</h3>
                            <p>You will get Vidiyo that you can share. You will get Vidiyo that you can share. You will get Vidiyo that you can share. You will get Vidiyo that you can share.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- Vidiyos Samples -->
        <div id="news-wrap">
            <div class="container">
                <div class="section-head text-center receive-vidiyo-header">
                    <h2><b>Recent Shout-outs</b></h2>
                    <h5>Checkout these latest shoutouts on Vidiyo.!</h5>
                </div>
                {% assign news_stars = site.vidiyos %}

                <section class="news-main" id="news-main">
                    <div class="container">
                        <div class="row" id="target-mid-4">
                            <div id="news-grid">
                                {% for each_news_star in news_stars limit:4 %}
                                <div class="news-item col-md-3">
                                    <div class="ni-wrap">
                                        <div class="image-cropper-custom-2">
                                            <video src="{{each_news_star.vid_url}}"
                                                class="video-autoplay-pusher img-responsive" alt="" loop="true"
                                                autoplay="true" muted></video>
                                        </div>
                                        <h4>{{each_news_star.title}}</h4>
                                        <h5>{{each_news_star.excerpt}}</h5>


                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        


       
        <!-- Why Vidiyo -->
       
        

        <!-- CONTACT -->
        
        <!-- CONTACT -->

        <!-- FOOTER -->
        {% include footer.html %}
        <!-- FOOTER -->

    </div>
</div>

<!-- Javascript -->
{% include footer_scripts.html %}