---
layout: default
addon: home
---

<div id="page-top"></div>

<div class="body">

    
    {% include header.html %}
    
   
    <!-- <div id="center-marker"></div> -->
    <!-- INTRO -->
    <div id="intro">
        <div class="container" id="intro-container">
            <div class="col-md-12 text-center header-image-tags">
                <h3>Get Famous On-demand!</h3>
                <h2>Get a personalized video</h2>
                <h1 id="target-land-1">shoutout</h1>
                <!-- <p>
						Personalized video shoutouts from your favourite celebrities, musicians, influencers, actors,
						athletes, dancers, entertainers, gamers, standup comedians.
					</p> -->
                <div class="dual-btns" id="download-app">
                    <a href="/browse.html" class="header-btn"><img src="/images/app_store_us.svg" alt="Download on Apple Store"></a>
                    <a href="/register-talent.html" class="header-btn"><img src="/images/Google_Play_Store_badge_EN.svg" alt="Download on Android" srcset=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- INTRO -->

    <div class="wrapper">

        <!-- Steps 1 And 2 -->
        <div id="services">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="icon-box">
                            <i class="play-tv2"></i>
                            <h3 id="target-right-2"> Select a celebrity</h3>
                            <p>Pick a Celebrity from our ever-growing list and begin. You can do this by searching for
                                them or browsing our alphabetical directory. Don’t worry; if your favourite celebrity is
                                not on our site, you can help! Just tweet at them
                                with the hashtag #Vidiyo or @Vidiyo and let them know you wish for them to join!</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="services">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6 emptyforBackground"></div>
                    <div class="col-md-6">
                        <div class="icon-box">
                            <i class="play-vynil"></i>
                            <h3 id="target-left-3">Request shoutout Vidiyo!</h3>
                            <p>Sit back and wait for your Vidiyo to arrive. Please be calm as celebrities are very busy.
                                Once complete you will receive your custom video in your DM. After that, you can share
                                however you like. Vidiyo make great gifts for
                                all occasions so be creative and enjoy!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="services">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="icon-box">
                            <i class="play-tv2"></i>
                            <h3 id="target-right-2"> Celebrity Response</h3>
                            <p>You will get Vidiyo that you can share. You will get Vidiyo that you can share. You will get Vidiyo that you can share. You will get Vidiyo that you can share.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- Vidiyos Samples -->
        <div id="news-wrap">
            <div class="container">
                <div class="section-head text-center">
                    <h2>Latest Vidiyos</h2>
                    <h5>Checkout these latest shoutouts on Vidiyo.!</h5>
                </div>
                {% assign news_stars = site.vidiyos %}

                <section class="news-main" id="news-main">
                    <div class="container">
                        <div class="row" id="target-mid-4">
                            <div id="news-grid">
                                {% for each_news_star in news_stars limit:4 %}
                                <div class="news-item col-md-3">
                                    <div class="ni-wrap">
                                        <div class="image-cropper-custom-2">


                                            <video src="{{each_news_star.vid_url}}"
                                                class="video-autoplay-pusher img-responsive" alt="" loop="true"
                                                autoplay="true" muted></video>
                                        </div>
                                        <h4><a href="{{each_news_star.vid_url}}">{{each_news_star.title}} </a> </h4>
                                        <h5>{{each_news_star.excerpt}}</h5>


                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        


        <!-- Stars -->
        <div id="albums">
            <div id="stars" class="section-head text-center">
                <h2 id="target">The Stardom is real</h2>
                <h5>Want to ask them for a dedicated birthday wish 🎂, or a late anniversary wish 💌 </h5>
            </div>

            <!-- <ul id="filter-options">
					<li><input type="checkbox" value="Youtube" data-filter_id="Youtube"> Youtube</li>
					<li><input type="checkbox" value="Actor" data-filter_id="Actor"> Actor</li>
					<li><input type="checkbox" value="Standup" data-filter_id="Standup"> Standup</li>
					<li><input type="checkbox" value="filter_orange" data-filter_id="orange"> Orange</li>
					<li><input type="checkbox" value="filter_yellow" data-filter_id="yellow"> Yellow</li>
				</ul> -->

            <div class="album-list-wrap stars-all">
                {% assign actor_stars = site.stars | where: "front_type","actors" %}
                {% for each_actor_star in actor_stars limit:8 %}

                <!-- Album Item -->
                <li class="Actor">

                    <div class="col-md-3 col-sm-6 album-card-wrap nopadding ">
                        <div class="album-card">
                            <div class="image hoverdir-target custom-star-image-cropper">
                                <img alt="image" src="{{each_actor_star.image_url}}">
                                <div class="overlay">
                                    <div class="button-wrapper">
                                        <div class="view-button">
                                            <a class="link" href="{{each_actor_star.url}}">
                                                <span><strong
                                                        class="bold">{{each_actor_star.first_name}}</strong><br>{{each_actor_star.last_name}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <!-- Album Item -->

                {% endfor %}

            </div>
        </div>

        <!-- Why Vidiyo -->
       
        

        <!-- CONTACT -->
        
        <!-- CONTACT -->

        <!-- FOOTER -->
        {% include footer.html %}
        <!-- FOOTER -->

    </div>
</div>

<!-- Javascript -->
{% include footer_scripts.html %}